<h2>About Us</h2>


<table>

<tr>
<td><%=image_tag("kimandmegan.jpg", class:"img-rounded img-border", height: '200', width: '260')%></td>
<td>kim</td>
</tr>

<tr>
<td><%=image_tag("mike_phone.JPG", class:"img-rounded img-border", height: '200',width: '260')%></td>
<td>I am a student at TTS and this is our  website</td>
</tr>


<tr>
<td><%=image_tag("SamSkinner.JPG", class:"img-rounded img-border", height: '200',width: '260')%></td>

<td>sam</td>
</tr>

</table>



