<p><h1>About Us</h1></p>

<p><h4>We are students at Tech Talent South taking the Summer 2014 Ruby on Rails course as taught by TJ Muehlman.  This is our first team project utilizing GitHub as a way to share and coordinate code for building our joint project.  </h4>
</p>
<br><br>
<p><table>

  <tr>
    <td><%=image_tag("kimandmegan.jpg", class:"img-rounded img-border", height: '200', width: '260')%></td>
    <td><h5>Kim: needs to be committed .....seriously!!</h5></td>
  </tr>

  <tr>
    <td><%=image_tag("mike_phone.JPG", class:"img-rounded img-border", height: '200',width: '260')%></td>
    <td><h5>I am a student at TTS and this is our website.</h5></td>
  </tr>

  <tr>
    <td><%=image_tag("SamSkinner.JPG", class:"img-rounded img-border", height: '200',width: '260')%></td>

    <td><h5>We are students at Tech Talent South taking the Summer 2014 Ruby on Rails course as taught by TJ Muehlman.  This is our first team project utilizing GitHub as a way to share and coordinate code for building our joint project. </h5></td>
  </tr>
</table></p>



