<h1>Team Maker</h1>

<br>
<p>After you've entered a list of players and a list of team names, return here to create team rosters.</p>
<br>
<br>

<<<<<<< HEAD

<div>
  <%=form_tag ('/welcome/teamlists') do %>
  <div>

  	<%=submit_tag    'Show Teams!'%>
  </div>	
  <%end%>
</div>
=======
<div>
  <%=form_tag('/welcome/teamlists') do %>
  <div>
    <%=submit_tag 'Show Teams!'%>
  </div>	
  <%end%>
</div>
>>>>>>> 0e99cd6e1cc1bb5c9cc5d7cec8532529dc118d44
