<h1>Welcome to ...</h1>

<h2>Team Maker</h2>
<br>
<p>If you need teams made randomly, this is the place!<p><br>
<p>All you need to do is input the team members' names. then the names you want for the teams.<p><br> 
<p>After you've entered them, return here to create team rosters.</p>
<br>
<br>


  <br>
<div>
  <%=form_tag ('/welcome/teamlists') do %>
    <%=submit_tag 'Show Teams!'%>
  <%end%>
</div>


