<h1>Team Maker</h1>

<br>
<p>After you've entered a list of players and a list of team names, return here to create team rosters.</p>
<br>
<br>


<div>
  <%=form_tag ('/welcome/teamlists') do %>
  <div>

  	<%=submit_tag    'Show Teams!'%>
  </div>	
  <%end%>
</div>



