<h1>Team Rosters</h1>
<br>
<br>
<div>
  <u><%=link_to "Go Again", root_path%></u>   


</div>
<br>
<br>
x
<table>
  <thead>
    <tr>
      <th>Teams</th>
      <th>Players</th>
    </tr>
  </thead>
  <tbody>
    <tr>  	
      <td><%@roster.each do | name, team |%>
	     <%="#{team}: #{name}"%><br>
      <%end%></td>
    </tr>
  </tbody>
</table>