<!DOCTYPE html>
<html>
<head>

	 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <title>TeamMaker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<<<<<<< HEAD
<body style='width:1000px; margin: auto'>

	<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
=======
  <body style='width:1000px; margin: auto'>
    <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
>>>>>>> 0e99cd6e1cc1bb5c9cc5d7cec8532529dc118d44
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<<<<<<< HEAD
    
=======
>>>>>>> 0e99cd6e1cc1bb5c9cc5d7cec8532529dc118d44
      <a class="navbar-brand" href="/welcome/index">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<<<<<<< HEAD
     <ul class="nav navbar-nav">
      
      <li><a href="/welcome/teamlists">Team Rosters</a></li> 
      <li><a href="/students">Members</a></li>
      <li><a href="/team_names">Team Names</a></li>
      
       </ul>
	</div>
</div>
=======
    <ul class="nav navbar-nav">
      <li><a href="/welcome/teamlists">Team Rosters</a></li>
      <li><a href="/students">Members</a></li>
      <li><a href="/team_names">Team Names</a></li>       
    </ul>
    </div>
  </div>
>>>>>>> 0e99cd6e1cc1bb5c9cc5d7cec8532529dc118d44
</nav>
<div class="container"
<%= yield %>
</div>
</body>
</html>

